
body {
  background-repeat: no-repeat;
  background-position: top -80px center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/main-bg.webp");
  font-family: "Poppins", "Arial", sans-serif;
  color: black;
}

#bonus-html {
  background-repeat: no-repeat;
  background-position: top -120px center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/bonus-bg.png");
}


.gradient-text {
  background: -webkit-linear-gradient(#33B864, #198E44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  background: radial-gradient(50% 50% at 50% 50%, #33B864 0%, #198E44 100%);
}

.gradient-button-blue {
  background: radial-gradient(50% 50% at 50% 50%, #5DC9F9 0%, #28B6F6 100%);
}


.font-poppins {
  font-family: 'Poppins', "Arial", sans-serif;
}

.telegram-radial {
  background-image: radial-gradient(#1F6588, #279FDB);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../img/main-bg@2x.webp");
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: none;
  }

  #bonus-html {
    background-image: none;
  }
}


